body {
    background-color: white;
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    font-size: 13.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:underline!important;
}

.nav {
    height:10%;
    width: 100%;
    display:inline-flex;
}

.nav a{
    padding: 5px;
    color: black;
}


.nav img {
    width: 20px;
    height: 20px;
}

.nav #leftnav {
    text-align:left;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.nav #rightnav {
    text-align:right;
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.main {
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}

.main input {
    height: 6%;
    width: 100%;
    border-radius: 25px;
    border: solid 1px #c7c7c7;
    margin: 20px;
}

.main input:hover {
    box-shadow: 0 0 7px;
    opacity: 75%;
    color: #c7c7c7;
}

.main button {
    padding: 10px;
    background-color: #f5f5f5;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 25%;
    font-size: 13.5;
    margin-bottom: 20px;
}

.main a {
    color: black;
}

.main #adlink {
    padding: 10px;
    font-size: 13.5px;
    color: darkblue!important;
}

.main img {
    width: 50%; 
}

.footer {
    width: 100%;
    height: 6%;
    background-color: #ededed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #3d3d3d;
}

.footer a {
    padding: 5px;
    color: #3d3d3d;
}

.footer img {
    width: 15px;
    height: 15px;
}

.footer #leftnav {
    width: 30%;
    margin-left: 10px;
}

.footer #rightnav {
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

